.my_currency_pairs_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.openpositionwrapper {
    max-width: 50%;
    /* margin-left: 25%; */
}
.closedpositionwrapper {
    max-width: 50%;
    /* margin-left: 25%; */
}

.positioninfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.positioninfo h4,
.positioninfo i {
    margin: 0 5px;
}
.positioninfo p span { color: var(--secondary-color); }
.positioninfo h4 { color: var(--text-color);}
.positioninfo h4:hover { color: rgba(245,245,245,0.7); }
.positioninfo i { color: var(--secondary-color); cursor: pointer; }
.positioninfo i:hover { color: rgba(55,131,194, 0.7);}

.my_currency_pairs_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my_currency_pairs {
    padding: 10px;
    margin: 10px;
    min-width: 250px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
}
.my_currency_pairs:active,
.my_currency_pairs:hover {
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}
.my_currency_pairs a p span {
    color: var(--secondary-color);
}
.my_currency_pairs a p:hover { color: rgba(225,225,225,0.5); }