* { box-sizing: border-box; }
h1 { text-align: center; color: var(--secondary-color);}
button {
  padding: 0 10px;
  cursor: pointer;
}

.App {}

.exchange_details {
  padding: 10px 10px 0px 10px;
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
}

.exchange_details form {
  display: flex;
  justify-content: space-around;
}

.exchange_details form input {
  padding: 2px;
  text-transform: uppercase;
}
.exchange_details form input::placeholder {
  color: black;
  text-transform: uppercase;
}

.data {
  display: flex;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--text-color);
}

.data p {
  padding: 10px;
}

.data .key {
  color: var(--secondary-color);
}

.buy_sell {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--text-color);
}
.buy_sell p {
  color: var(--secondary-color);
}
.buy_sell p span { color: var(--text-color);}