* { box-sizing: border-box; }
h1 { text-align: center; color: var(--secondary-color);}

.App {
  padding: 10px 10px 0px 10px;
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  /* background: var(--main-color); */
}

.App form {
  display: flex;
  justify-content: space-around;
}

.App form input {
  padding: 2px;
  text-transform: uppercase;
}
.App form input::placeholder {
  color: black;
  text-transform: uppercase;
}

.data {
  display: flex;
  border-bottom: 1px solid var(--secondary-color);
  color: rgb(200,200,200);
}

.data p {
  padding: 10px;
}

.data .key {
  color: var(--secondary-color);
}